
body{
    background-image: url("image2.jpg");



}

.container {
    text-align: center;
    margin-top: 50px;

  }
  
  table {
    
    border-collapse: collapse;
    margin: 10px auto;
  }
  
  th, td 
  {
  
    border: 1px solid brown;
    padding: 8px;
    font-weight: 900;
font-style: inherit;
    
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }